.About {
  width: 100vw;
  background-color: #FEF7FF;
}

.BlurbContainer {
    background-color: #E8D3F7;
    width: 73%;
    font-family: Raleway;
    font-size: 18pt;
    text-align: center;
    font-weight: normal;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    position: relative;
}

.BlurbText {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.blurbDivs {
  padding: 20px 0px 20px 0px;
  text-align: center;
  position: relative;
}

#title {
  align: center;
  justify-content: center;
  text-align: center;
  position: relative;
  font-size: 4.3vw;
  font-style: italic;
  font-weight: lighter;
  color: #9739E8;
  margin-bottom: 15px;
}

.LeftCircleDiv {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 80px;
  box-shadow: 5px 5px 5px grey;
  margin-left: 2.5vw;
  background-color: white;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.RightCircleDiv {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 80px;
  box-shadow: 5px 5px 5px grey;
  margin-right: 2.5vw;
  background-color: white;
  vertical-align: middle;
  position: relative;
}

.LeftBlurbImages{
  width: 80px;
  border-radius: 15px;
  background-color: white;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.RightBlurbImages {
  float: left;
  width: 80px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
