.Contact {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/img-bg-dark.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
}

#Header {
  font-weight: lighter;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 4.3vw;
  font-style: italic;
  vertical-align: middle;
}

#Chat {
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.75vw;
  color: white;
  vertical-align: middle;
  text-decoration: underline;
  font-weight: bold;
}

#Help {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.75vw;
  color: white;
  vertical-align: middle;
  text-decoration: underline;
  font-weight: bold;
}

.SocialMediaIcons {
  position: absolute;
  top: 68%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.SocialMediaIcons img {
  width: 4vw;
  margin: 0px 1.5vw 0px 1.5vw;
}

#Follow {
  font-weight: bold;
  position: absolute;
  top: 78%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  color: white;
  vertical-align: middle;
}

#Copyright {
  font-weight: normal;
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1vw;
  color: white;
  vertical-align: middle;
}

@media (max-width: 380px){
  #Header {
    font-size: 8vw;
  }
  #Follow{
    font-size: 5vw;
  }
  #Chat{
    font-size: 5vw;
  }
  #Help{
    font-size: 5vw;
  }
  .SocialMediaIcons img {
    width: 7vw;
  }
  #Copyright{
    font-size: 2.5vw;
  }
}

@media (max-width: 430px) and (min-width: 381px){
  #Header {
    font-size: 7vw;
  }
  #Follow{
    font-size: 4vw;
  }
  #Chat{
    font-size: 4vw;
  }
  #Help{
    font-size: 4vw;
  }
  .SocialMediaIcons img {
    width: 6vw;
  }
  #Copyright{
    font-size: 2vw;
  }
}

@media (max-width: 480px) and (min-width: 431px){
  #Header {
    font-size: 6vw;
  }
  #Follow{
    font-size: 3vw;
  }
  #Chat{
    font-size: 3vw;
  }
  #Help{
    font-size: 3vw;
  }
  .SocialMediaIcons img {
    width: 5vw;
  }
  #Copyright{
    font-size: 1.5vw;
  }
}
