.Home {
  width: 100vw;
  height: 150vh;
  background-image: url('../img/img-bg-dark.jpg');
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  color: white;
  position: relative;
}

#OpeningHeader {
  font-weight: normal;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5vw;
}

#FollowingHeader {
  font-weight: normal;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 3vw;
}

.LearnMoreButton {
  position: absolute;
  top: 58%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.LearnMoreButton img {
  width: 17vw;
}

.SocialMediaIcons {
  position: absolute;
  top: 88%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.SocialMediaIcons img {
  width: 4vw;
  margin: 0px 1.5vw 0px 1.5vw;
}

@media (max-width: 380px){
    .LearnMoreButton img{
        width: 30vw;
    }
    .SocialMediaIcons img {
        width: 30px;
        margin: 0px 1.5vw 0px 1.5vw;
    }
}

@media (max-width: 430px) and (min-width: 381px){
    .LearnMoreButton img{
        width: 30vw;
    }
    .SocialMediaIcons img {
        width: 35px;
        margin: 0px 1.5vw 0px 1.5vw;
    }
}

@media (max-width: 480px) and (min-width: 431px){
    .LearnMoreButton img{
        width: 30vw;
    }
    .SocialMediaIcons img {
        width: 35px;
        margin: 0px 1.5vw 0px 1.5vw;
    }
}
@media (max-width: 580px) and (min-width: 481px){
    .LearnMoreButton img{
        width: 30vw;
    }
    .SocialMediaIcons img {
        width: 35px;
        margin: 0px 1.5vw 0px 1.5vw;
    }
}

@media (max-width: 750px) and (min-width: 581px){
    .LearnMoreButton img{
        width: 30vw;
    }
    .SocialMediaIcons img {
        width: 35px;
        margin: 0px 1.5vw 0px 1.5vw;
    }
}

@media (max-width: 1800px) and (min-width: 751px){

}

@media (min-width: 1801px){

}
