.Home {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/img-bg-dark.jpg');
  background-size: 100% 100%;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  color: white;
}

#OpeningHeader {
  font-weight: normal;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  font-size: 5vw;
}

.LearnMoreButton {
  position: absolute;
  top: 52%;
  left: 0; 
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.LearnMoreButton img {
  width: 17vw;
}

.SocialMediaIcons {
  position: absolute;
  top: 88%;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto;
}

.SocialMediaIcons img {
  width: 4vw;
  margin: 0px 1.5vw 0px 1.5vw;
}