nav {
  position: fixed;
  align-items: center;
  vertical-align: middle;
  height: 6.5vh;
  line-height: 6.5vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

nav .nav-wrapper {
  /* For transitioning the Navbar from purple to transparent. */
  background-color: none;
  transition: background-color 0.5s;
  height: 6.5vh;
}

nav > .solid {
  /* For transitioning the Navbar from transparent to purple. */
  background-color: #55205D;
  transition: background-color 0.5s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  width: 15vw;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* For un-highlighting the current page. */
  background-color: none;
  transition: background-color 0.5s;
}

nav ul li.solid {
  /* For highlighting the current page. */
  background-color: #9739E8;
  transition: background-color 0.5s;
}

nav ul > li > a {
  font-size: 1.5vw;
  height: 100%;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  vertical-align: middle;
  justify-content: center;
}

body nav ul > li > a.bold {
  /* For making the current page Navbar item bolded. */
  font-weight: bold;
  transition: font-weight 0.5s;
}

nav #nav-menu {
  margin-right: auto;
}

nav #nav-menu #fortissimo-logo {
  width: 10vw;
  vertical-align: middle;
}
