.WhatWeDo {
  width: 100vw;
  height: 160vh; /* Change or remove this later */
  background-color: #FEF7FF;
}

.Blurbs {
    position: relative;
    left: 5%;
    background-color: #E8D3F7;
    width: 73%;
    font-family: Raleway;
    font-size: 18pt;
    text-align: center;
    font-weight: normal;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
  }
.Catch {
    position: relative;
    left: 20%;
    background-color: #E8D3F7;
    width: 60%;
    font-family: Raleway;
    font-size: 28pt;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    border-radius: 5px;
    display: inline-block;
}

.blurbDivs {
  padding: 30px 0px 30px 0px;
}

#title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  font-size: 35pt;
  font-style: italic;
  font-weight: lighter;
  color: #9739E8
}


.LeftBlurbImages{
  float: right;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.RightBlurbImages {
  float: left;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#wwdLeftBlurb {
  padding: 0px;
  border-radius: 50%;
  margin-right: 40px;
  box-shadow: 5px 5px 5px grey
}

#wwdRightBlurb {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 40px;
  box-shadow: 5px 5px 5px grey;
}
