.WhatWeDo {
  width: 100vw;
  background-color: #FEF7FF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Catch {
    position: relative;
    background-color: #E8D3F7;
    width: 60%;
    font-family: Raleway;
    font-size: 28pt;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    border-radius: 5px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

#catchDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#wwdLeftBlurb {
  width: 85px;
}

#wwdRightBlurb {
  width: 85px;
}

@media (max-width: 380px){
    .BlurbContainer{
        width: 55%;
    }
    .BlurbText{
        font-size: 6pt;
        width: 57vw;
        padding: 10px;
    }
    .blurbDivs{
        padding: 15px 0px 15px 0px;
    }
    .LeftBlurbImages{
        width: 25px;
        height: 25px;
    }
    .LeftCircleDiv{
        width: 30px;
        height: 30px;
    }
    .RightBlurbImages{
        width: 25px;
        height: 25px;
    }
    .RightCircleDiv{
        width: 30px;
        height: 30px;
    }
    .fillLeftBlurbImages{
        width: 50px;
        height: 50px;
    }
    .fillRightBlurbImages{
        width: 50px;
        height: 50px;
    }
    .endingBlurbText{
        font-size: 6pt;
        width: 57vw;
        padding: 10px;
    }
    .Catch{
        font-size: 10pt;
    }
    #catchDiv{
      padding: 11px;
    }
    #title{
      font-size: 8vw;
    }
    #wwdLeftBlurb {
      width: 50px;
      height: 50px;
    }

    #wwdRightBlurb {
      width: 50px;
      height: 50px;
    }
}

@media (max-width: 430px) and (min-width: 381px){
    .BlurbContainer{
        width: 60%;
    }
    .BlurbText{
        font-size: 8pt;
        width: 57vw;
        padding: 15px;
    }
    .blurbDivs{
        padding: 15px 0px 15px 0px;
    }
    .LeftBlurbImages{
        width: 30px;
        height: 30px;
    }
    .LeftCircleDiv{
        width: 35px;
        height: 35px;
    }
    .RightBlurbImages{
        width: 30px;
        height: 30px;
    }
    .RightCircleDiv{
        width: 35px;
        height: 35px;
    }
    .fillLeftBlurbImages{
        width: 50px;
        height: 50px;
    }
    .fillRightBlurbImages{
        width: 50px;
        height: 50px;
    }
    .endingBlurbText{
        font-size: 8pt;
        width: 57vw;
        padding: 15px;
    }
    .Catch{
        font-size: 10pt;
    }

    #catchDiv{
        padding: 12px;
    }
    #title{
      font-size: 7vw;
    }
    #wwdLeftBlurb {
      width: 55px;
      height: 55px;
    }
    #wwdRightBlurb {
      width: 55px;
      height: 55px;
    }
}

@media (max-width: 480px) and (min-width: 431px){
    .BlurbContainer{
        width: 60%;
    }
    .BlurbText{
        font-size: 10pt;
        width: 57vw;
    }
    .LeftBlurbImages{
        width: 40px;
        height: 40px;
    }
    .LeftCircleDiv{
        width: 50px;
        height: 50px;
    }
    .RightBlurbImages{
        width: 40px;
        height: 40px;
    }
    .RightCircleDiv{
        width: 50px;
        height: 50px;
    }
    .fillLeftBlurbImages{
        width: 65px;
        height: 65px;
    }
    .fillRightBlurbImages{
        width: 65px;
        height: 65px;
    }
    .endingBlurbText{
        font-size: 10pt;
        width: 57vw;
    }
    .Catch{
        font-size: 12pt;
    }
    #catchDiv{
        padding: 13px;
    }
    #title{
      font-size: 6vw;
    }
    #wwdLeftBlurb {
      width: 55px;
      height: 55px;
    }
    #wwdRightBlurb {
      width: 55px;
      height: 55px;
    }
}
@media (max-width: 580px) and (min-width: 481px){
    .BlurbContainer{
        width: 60%;
    }
    .BlurbText{
        font-size: 13pt;
        width: 57.5vw;
    }
    .LeftBlurbImages{
        width: 65px;
        height: 65px;
    }
    .LeftCircleDiv{
        width: 75px;
        height: 75px;
    }
    .RightBlurbImages{
        width: 65px;
        height: 65px;
    }
    .RightCircleDiv{
        width: 75px;
        height: 75px;
    }
    .fillLeftBlurbImages{
        width: 90px;
        height: 90px;
    }
    .fillRightBlurbImages{
        width: 90px;
        height: 90px;
    }
    .endingBlurbText{
        font-size: 13pt;
        width: 57.5vw;
    }
    .Catch{
        font-size: 15pt;
    }
    #catchDiv{
        padding: 14px;
    }
    #title{
      font-size: 6vw;
    }
    #wwdLeftBlurb {
      width: 55px;
      height: 55px;
    }
    #wwdRightBlurb {
      width: 55px;
      height: 55px;
    }
}

@media (max-width: 750px) and (min-width: 581px){
    .BlurbContainer{
        width: 60%;
    }
    .BlurbText{
        font-size: 13pt;
        width: 57.5vw;
    }
    .LeftBlurbImages{
        width: 75px;
        height: 75px;
    }
    .LeftCircleDiv{
        width: 85px;
        height: 85px;
    }
    .RightBlurbImages{
        width: 75px;
        height: 75px;
    }
    .RightCircleDiv{
        width: 85px;
        height: 85px;
    }
    .fillLeftBlurbImages{
        width: 100px;
        height: 100px;
    }
    .fillRightBlurbImages{
        width: 100px;
        height: 100px;
    }
    .endingBlurbText{
        font-size: 13pt;
        width: 57.5vw;
    }
    .Catch{
        font-size: 20pt;
    }
    #catchDiv{
        padding: 15px;
    }
    #title{
      font-size: 5vw;
    }
    #wwdLeftBlurb {
      width: 65px;
      height: 65px;
    }
    #wwdRightBlurb {
      width: 65px;
      height: 65px;
    }
}

@media (max-width: 1800px) and (min-width: 751px){
    .BlurbContainer{
        width: 70%;
    }
    .BlurbText{
        font-size: 15pt;
        width: 60vw;
    }
    .endingBlurbText{
        font-size: 15pt;
        width: 60vw;
      }
     .Catch{
         font-size: 25pt;
     }
     #catchDiv{
          padding: 17px;
     }
     #title{
       font-size: 4.3vw;
     }
    #wwdLeftBlurb {
      width: 80px;
      height: 80px;
    }
    #wwdRightBlurb {
      width: 80px;
      height: 80px;
    }
}

@media (max-width: 1500px) and (min-width: 1000px){
    .BlurbContainer{
        width: 70%;
    }
    .BlurbText{
        font-size: 15pt;
        width: 60vw;
    }
    .endingBlurbText {
        font-size: 15pt;
        width: 60vw;
      }
      #catchDiv{
        padding: 18px;
      }
      #title{
        font-size: 4.3vw;
      }
    #wwdLeftBlurb {
      width: 80px;
      height: 80px;
    }
    #wwdRightBlurb {
      width: 80px;
      height: 80px;
    }
}

@media (max-width: 1800px) and (min-width: 1501px){
    .BlurbContainer{
        width: 73%;
    }
    .BlurbText{
        font-size: 15pt;
        width: 60vw;
    }
    .endingBlurbText {
        font-size: 15pt;
        width: 60vw;
      }
      #catchDiv{
        padding: 19px;
      }
    #wwdLeftBlurb {
      width: 80px;
      height: 80px;
    }
    #wwdRightBlurb {
      width: 80px;
      height: 80px;
    }
}


@media (min-width: 1801px){
    .BlurbContainer{
        width: 73%;
    }
    .BlurbText{
        font-size: 15pt;
        width: 60vw;
    }

    .endingBlurbText {
          position: relative;
          left: 5%;
          background-color: #E8D3F7;
          width: 73vw;
          font-family: Raleway;
          font-size: 18pt;
          text-align: center;
          font-weight: normal;
          padding: 20px;
          border-radius: 5px;
          display: inline-block;
      }
    #wwdLeftBlurb {
      width: 80px;
      height: 80px;
    }
    #wwdRightBlurb {
      width: 80px;
      height: 80px;
    }
}
